
<div class="top">
<h1>趣味を文章にしよう。</h1>
<h2>あなたの世界を、みんなの世界に。</h2>
</div>

<div class = "content">
  <div class = "a">

  </div>
  <div class = "b">


  </div>
  <div class = "c">

  </div>
  <div class = "d">

  </div>
</div>

<div class = "footer">

</div>
