// Place all the styles related to the homse controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top{
    background-color:#7fffd4;
    height: 150px;
    text-align:center;

}
.content{

  height:400px;
  background-color:#00ffff;
}
.a{
  width:25%;

}
.b{
  width:25%;
}
.c{
  width:25%;
}
.d{
  width:25%;
}

.footer{
  background-color:blue;
  height:100px;

}


